__pycache__/
.venv
uv.lock
wandb
uv.lock
tuning_results
visualizations
test_data
paper.tex
data_old
pretrained_old
search_results
pretrained
logs
experiments_checkpoints
output
experiments
data
tmp_models
*.pdf
csv
test_mem3.py
test_mem4.py